.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px dashed red;
    padding: 10px 20px;
    background-color: #fff;
}

.nav-bar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}