
.main-header {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hidden {
  display: none;
}

.line {
  width: 23px;
  height: 2px;
  margin: 5px 0;
  background-color: #000;
}
